In [1]:
import numpy as np
import pandas as pd
#索引列
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randint(1,11,size=5),
                  'data2':np.random.randint(1,11,size=5)})
df

  key1 key2  data1  data2
0    a  one      2     10
1    a  two      4      3
2    b  one     10      8
3    b  two      4      5
4    a  one      1      2

In [2]:
df['data1'].groupby(df['key1']).sum()# 按车站名称分组并求和

key1
a     7
b    14
Name: data1, dtype: int64

In [3]:
#代码会对 df 这个 DataFrame 中的 data1 列进行分组，按 key1 和 key2 这两个列来分组，然后计算每个组中 data1 列的非空值的数量。
df['data1'].groupby(by=[df['key1'],df['key2']]).count()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
Name: data1, dtype: int64

In [6]:
df['data1'].groupby(['台北','台北','台北','台中','台中']).count()# 使用自定义列表进行分组并计数

台中    2
台北    3
Name: data1, dtype: int64

In [5]:
df[['data1','data2']].groupby(by=[df['key1'],df['key2']]).sum()

           data1  data2
key1 key2
a    one       3     12
     two       4      3
b    one      10      8
     two       4      5